<!doctype html>
<html lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="~/Content/css/myStyle.css" rel="stylesheet" />
    <title>@ViewBag.Title"</title>
</head>

<body>
    <div class="bg-secondary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <div class="btn-group ">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static"
                        aria-haspopup="true" aria-expanded="false">
                    Rozwiń
                </button>
                <div class="dropdown-menu dropdown-menu-lg-left">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </nav>

        <div class="mx-auto" style="width: 200px;">
            <a class="nav-item nav-link" href="#">
                <img src="~/Content/Images/logo.jpg" alt="..." class="img-thumbnail">
            </a>
        </div>

        

        <div>
            @RenderBody()
        </div>

        <footer>
            <div class="stopka bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="list-group">
                                <p></p>
                                <h6 class="text-bold-white">Kupuj</h6>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Onas" })" class="text-gray">O nas</a></li>
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Kontakt" })"class="text-gray">Kontakt</a></li>
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Opinie" })"class="text-gray">Opinie</a></li>
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Regulamin" })"class="text-gray">Regulamin</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <p></p>
                            <h6 class="text-bold-white">Pomoc</h6>
                            <ul class="list-unstyled">
                                
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Onas" })"class="text-gray">O nas</a></li>
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Kontakt" })"class="text-gray">Kontakt</a></li>
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Opinie" })"class="text-gray">Opinie</a></li>
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Regulamin" })"class="text-gray">Regulamin</a></li>
                                    <li><a href="@Url.Action("StaticPages","Home",new { name = "Spolecznosc" })"class="text-gray">Społeczność</a></li>
                                
                           </ul>
                        </div>
                        <div class="col">
                            <p></p>
                            <h6 class="text-bold-white">Informacje o firmie</h6>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("StaticPages","Home",new { name = "Onas" })" class="text-gray">O nas</a></li>
                                <li><a href="@Url.Action("StaticPages","Home",new { name = "Kontakt" })"class="text-gray">Kontakt</a></li>
                                <li><a href="@Url.Action("StaticPages","Home",new { name = "Opinie" })"class="text-gray">Opinie</a></li>
                                <li><a href="@Url.Action("StaticPages","Home",new { name = "Regulamin" })"class="text-gray">Regulamin</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <p></p>
                            <h6 class="text-bold-white">Dołącz do Shop Card</h6>
                            <div class="text-gray">Zarejestruj się teraz, aby zdobyć rabat do 60%!</div>
                            <p></p>
                            <p><button type="button" class="btn btn-light">Przeczytaj więcej!</button></p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">col-4</div>
                </div>
            </div>
    </div>
    </footer>


    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>

</html>